.sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 250px;
    padding: 40px 50px;
    color: white;
    background: radial-gradient(circle at top left, #0b3377, #2a3f63);
    backdrop-filter: blur(6px);
}

.sobre p{
    font-size: 1.2rem;
    line-height: 1.8;
    opacity: 0.9;
    max-width: 800px;
    margin-bottom: 20px;
    text-align: left;
}